# Reset Holiday, Workingday

In [25]:
df = pd.read_parquet('escooter_history.parquet', engine='pyarrow')
df['weekday'] = pd.Series(df.datetime).dt.day_name()
df.workingday = 1
df.holiday = 0
# set Saturdays and Sundays not as Workingday
df.loc[df['weekday'].isin(['Saturday','Sunday']), 'workingday'] = 0

# set Tuesdays aans Wednesday as Workingday, but not as Holiday
df.loc[df['weekday'].isin(['Tuesday','Wednesday']), 'workingday'] = 1
df.loc[df['weekday'].isin(['Tuesday','Wednesday']), 'holiday'] = 0
# function to set Holidays to 1, Working Day to 0.
# List of Holidays
# Based on https://www.officeholidays.com/countries/usa/2019 , https://www.officeholidays.com/countries/usa/2020
holidays2019 = [(2019,1,1),(2019,1,21),(2019,2,18),(2019,5,27),(2019,7,4),(2019,9,2),(2019,10,14),(2019,11,11),(2019,11,28),(2019,12,25)]
holidays2020 = [(2020,1,1),(2020,1,20),(2020,2,17),(2020,5,25),(2020,7,3),(2020,7,4),(2020,9,7),(2020,10,12),(2020,11,11),(2020,11,26),(2020,12,25)]

def setHolidays (t):
    y = t[0]
    m = t[1]
    d = t[2]
    
    start = dt.datetime.strptime(f'{y}-{m}-{d} 00:00:00', '%Y-%m-%d %H:%M:%S')
    end = dt.datetime.strptime(f'{y}-{m}-{d+1} 00:00:00', '%Y-%m-%d %H:%M:%S')
 
    df.loc[(df.datetime >= start) & (df.datetime < end), 'holiday'] = 1
    df.loc[(df.datetime >= start) & (df.datetime < end), 'workingday'] = 0
for h in (holidays2019+holidays2020): 
    setHolidays(h) 
df

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer,weekday
0,2019-01-01 00:00:09,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
1,2019-01-01 00:00:41,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
2,2019-01-01 00:01:20,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
3,2019-01-01 00:04:12,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
4,2019-01-01 00:15:19,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
...,...,...,...,...,...,...,...,...,...,...
3296016,2020-12-31 23:55:56,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296017,2020-12-31 23:55:59,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296018,2020-12-31 23:57:17,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296019,2020-12-31 23:57:28,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296020,2020-12-31 23:58:10,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday

In [1]:
import pandas as pd
import plotly.express as px
import seaborn as sns
from matplotlib import pyplot as plt
import datetime as dt
import matplotlib.dates as md

In [23]:
df = pd.read_parquet('escooter_history.parquet', engine='pyarrow')
df['weekday'] = pd.Series(df.datetime).dt.day_name()
df

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer,weekday
0,2019-01-01 00:00:09,0,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
1,2019-01-01 00:00:41,0,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
2,2019-01-01 00:01:20,0,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
3,2019-01-01 00:04:12,0,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
4,2019-01-01 00:15:19,0,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
...,...,...,...,...,...,...,...,...,...,...
3296016,2020-12-31 23:55:56,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296017,2020-12-31 23:55:59,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296018,2020-12-31 23:57:17,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296019,2020-12-31 23:57:28,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296020,2020-12-31 23:58:10,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday

In [3]:
print(df.holiday.sum(),df.workingday.sum())

89274 2279039

In [4]:
df.workingday = 1
df.holiday = 0
df

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer,weekday
0,2019-01-01 00:00:09,0,1,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
1,2019-01-01 00:00:41,0,1,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
2,2019-01-01 00:01:20,0,1,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
3,2019-01-01 00:04:12,0,1,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
4,2019-01-01 00:15:19,0,1,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
...,...,...,...,...,...,...,...,...,...,...
3296016,2020-12-31 23:55:56,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296017,2020-12-31 23:55:59,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296018,2020-12-31 23:57:17,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296019,2020-12-31 23:57:28,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296020,2020-12-31 23:58:10,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday

In [5]:
# set Saturdays and Sundays not as Workingday
df.loc[df['weekday'].isin(['Saturday','Sunday']), 'workingday'] = 0

# set Tuesdays aans Wednesday as Workingday, but not as Holiday
df.loc[df['weekday'].isin(['Tuesday','Wednesday']), 'workingday'] = 1
df.loc[df['weekday'].isin(['Tuesday','Wednesday']), 'holiday'] = 0

In [6]:
# df.loc[df['weekday'] == 'Wednesday', 'workingday'] = 1
# df.loc[df['weekday'] == 'Wednesday', 'holiday'] = 0

In [7]:
# List of Holidays
# Based on https://www.officeholidays.com/countries/usa/2019 , https://www.officeholidays.com/countries/usa/2020
holidays2019 = [(2019,1,1),(2019,1,21),(2019,2,18),(2019,5,12),(2019,5,27),(2019,6,16),(2019,7,4),(2019,9,2),(2019,10,14),(2019,11,21),(2019,11,28),(2019,11,29),(2019,12,25)]
holidays2020 = [(2020,1,1),(2020,1,2),(2020,2,17),(2020,5,10),(2020,5,25),(2020,6,21),(2020,7,3),(2020,7,4),(2020,7,6),(2020,9,7),(2020,10,12),(2020,11,11),(2020,11,26),(2020,11,27),(2020,12,24), (2020,12,25)]

In [8]:
# List of Holidays
# Based on https://www.officeholidays.com/countries/usa/2019 , https://www.officeholidays.com/countries/usa/2020
holidays2019 = [(2019,1,1),(2019,1,21),(2019,2,18),(2019,5,27),(2019,7,4),(2019,9,2),(2019,10,14),(2019,11,11),(2019,11,28),(2019,12,25)]
holidays2020 = [(2020,1,1),(2020,1,20),(2020,2,17),(2020,5,25),(2020,7,3),(2020,7,4),(2020,9,7),(2020,10,12),(2020,11,11),(2020,11,26),(2020,12,25)]

In [9]:
# function to set Holidays to 1, Working Day to 0.
def setHolidays (t):
    y = t[0]
    m = t[1]
    d = t[2]
    
    start = dt.datetime.strptime(f'{y}-{m}-{d} 00:00:00', '%Y-%m-%d %H:%M:%S')
    end = dt.datetime.strptime(f'{y}-{m}-{d+1} 00:00:00', '%Y-%m-%d %H:%M:%S')
 
    df.loc[(df.datetime >= start) & (df.datetime < end), 'holiday'] = 1
    df.loc[(df.datetime >= start) & (df.datetime < end), 'workingday'] = 0
for h in (holidays2019+holidays2020): 
    setHolidays(h)

In [10]:
# # set 31.12.2020 as holiday, Working Day as 0.
# start = dt.datetime.strptime(f'2020-12-31 00:00:00', '%Y-%m-%d %H:%M:%S')
# end = dt.datetime.strptime(f'2021-01-01 00:00:00', '%Y-%m-%d %H:%M:%S')
 
# df.loc[(df.datetime >= start) & (df.datetime < end), 'holiday'] = 1
# # df.loc[(df.datetime >= start) & (df.datetime < end), 'workingday'] = 0

In [11]:
print(df.holiday.sum(),df.workingday.sum())

96647 2253477

In [12]:
# Should be NULL
df.loc[(df.workingday == 1) & (df.holiday == 1)]

Empty DataFrame
Columns: [datetime, holiday, workingday, weather, temp, atemp, humidity, windspeed, registered_customer, weekday]
Index: []

In [13]:
dfday = df.groupby([df.datetime.dt.to_period('D')]).agg({
    'holiday':'max',
    'workingday':'max',
    'weekday' : 'max'
})

In [14]:
print(dfday.holiday.sum(),dfday.workingday.sum())

21 503

In [15]:
dfday.loc[(dfday['weekday'] == 'Sunday') & (dfday['workingday'] == 1)]

Empty DataFrame
Columns: [holiday, workingday, weekday]
Index: []

In [16]:
dfday.loc[(dfday['weekday'] == 'Saturday') & (dfday['workingday'] == 1)]

Empty DataFrame
Columns: [holiday, workingday, weekday]
Index: []

In [17]:
df

,datetime,holiday,workingday,weather,temp,atemp,humidity,windspeed,registered_customer,weekday
0,2019-01-01 00:00:09,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
1,2019-01-01 00:00:41,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
2,2019-01-01 00:01:20,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
3,2019-01-01 00:04:12,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
4,2019-01-01 00:15:19,1,0,"clear, few clouds",9.84,14.395,81,0.0000,True,Tuesday
...,...,...,...,...,...,...,...,...,...,...
3296016,2020-12-31 23:55:56,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296017,2020-12-31 23:55:59,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296018,2020-12-31 23:57:17,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296019,2020-12-31 23:57:28,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday
3296020,2020-12-31 23:58:10,0,1,"clear, few clouds",10.66,13.635,65,8.9981,True,Thursday

In [18]:
df.groupby(['weekday']).agg({'workingday':'sum'})

           workingday
weekday
Friday         456067
Monday         439491
Saturday            0
Sunday              0
Thursday       442686
Tuesday        481186
Wednesday      434047

In [19]:
df.groupby(['weekday']).agg({'holiday':'sum'})

           holiday
weekday
Friday       11237
Monday       49559
Saturday      7403
Sunday           0
Thursday     15973
Tuesday        985
Wednesday    11490